@import "tailwindcss";

@theme {
  --color-hintergrund: #fff7f9;
  --color-flaeche: #f6dce5;
  --color-akzent: #e7afc1;
  --color-primaer: #315846;
  --color-schrift: #18372b;
  --color-rahmen: #5c7d6c;
}